# conda-requirements.txt
# Conda packages required for gazar.
# Create the environment by running the following command
# (after installing Miniconda):
# os: linux
#   $ conda create -n gazar
#   $ source activate gazar
#   (gazar)$ conda config --add channels conda-forge
#   (gazar)$ conda install --file=conda-requirements.txt

gdal
pyproj
affine
appdirs
gdal
mapkit
pyproj
utm